{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    확인(staff_check)
{% endblock page_title %}

{% block main_content %}

{% load static %}
<section class="content">
        <div class="container-fluid">
<div class="row">
    <div class="col-lg-6">
        <hr>
        <!--<h1>얼굴인식</h1>-->
        <table class ="table-sm">
            <tr>
                <td width="50%">
                <img src="http://127.0.0.1:8000/facecam_feed/"  />
                </td>
                
                <td width="50%">
                </td>
                </tr>
        </table>
    </div>

	<div class="col-lg-6">
        <style>
            #student_info1{
               width:350px;
               max-height: 420px;
               align-content:center;
               display: block;
               overflow:auto;
               overflow-x: hidden;
           }
           #student_info2{
               width:300px;
               max-height: 420px;
               align-content:center;
               display: block;
               overflow:auto;
               overflow-x: hidden;
           }
           table{
               border-spacing: 0;
               max-height: 420px;
           }
             /* 스크롤바 설정 */
             .scrolltable::-webkit-scrollbar {
           width: 10px;
           }
           .scrolltable::-webkit-scrollbar-thumb {
           background-color: #2f3542;
           border-radius: 10px;
           background-clip: padding-box;
           border: 2px solid transparent;
           }
           .scrolltable::-webkit-scrollbar-track {
           background-color: grey;
           border-radius: 10px;
           box-shadow: inset 0px 0px 5px white;
           }
           
       
       </style>
       <section class="content">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-md-12">
                     <hr>
                       <!-- general form elements -->
                       <div class="card card-primary">
                           <div class="card-header">
                               <h3 class="card-title">Add Subject</h3>
                           </div>
                           
                       <div class="row">
                           <div class="card-footer"">
                               <div class="form-group">
                                   <table style="width: 500px;">
                                       <label>과목 </label>
                                       <select class="form-control" name="subject" id="subject">
                                           {% for subject in subjects %}
                                               <option value="{{ subject.id }}">{{ subject.subject_num }} {{ subject.subject_name }}</option>
                                           {% endfor %}
                                       </select>
                                     </table>
                                   </div>
                                </div>
                         </div>  
                          
 
                       <div class="gridBox" style="display:flex">
                           <div style="float:right; width: 45%;">
                               <div style="border:1px solid black; width:330px; margin-left: 100px; max-height: 420px; height: 420px;">
                                 <table class="scrolltable" id="student_info1" border="1" bordercolor="blue" align="center" name="student_info1" style="width:330px">
                                   <thead >
                                   <th><input type="checkbox" id="stud_ch_all"name ="stud_ch_all">All</th>
                                   <th class="td1"style = "width:100px">학과</th>
                                   <th class="td2"style = "width:90px">학번</th> 
                                   <th class="td2"style = "width:100px">이름</th>
                                   </thead>
                                       
                                       {%for student_infos in student_info%}
                                           
                                   <tbody id="lefttobody" style="border:1px solid black"> 
                                     <tr height = "20">
                                       <td><input class="stud_ch" type="checkbox" name ="stud_ch" ></td>  
                                       <td class="search" >{{student_info_co.course}}</td>
                                       <td class="search" >{{student_infos.first_name}}</td>
                                       <td class="search" >{{student_infos.last_name}}</td>  
                                     </tr>
                                       {%endfor%} 
                                   </tbody>
                                   <!-- <tr align="center" bgcolor="#28a745"  height="50"  >
                                       
                                   </tr> -->
                                </table>
                                    <button type="submit" class="btn btn-primary" id="saveco" name="saveco" style="float:right; margin-right: 150px;" >save</button>
                               </div>
                           </div>
                            
                               
                                 
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
       
       {% endblock main_content %}
       {% block custom_js %}
        <script>
        $(document).ready(function(){
            function tableToJson(table) { // 변환 함수
            var data = [];

            var headers = [];
            for(var i=0; i<table.rows[0].cells.length; i++) {
             headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
             }

            for(var i=1; i<table.rows.length; i++) {
             var tableRow = table.rows[i];
             var rowData = {};

             for(var j=0; j<tableRow.cells.length; j++) {
                  rowData[headers[j]] = tableRow.cells[j].innerHTML;
              }
             data.push(rowData);
            }

    return data;
}
       $("#saveco").getElementById(function(){
               var jsonObj = tableToJson(document.getElementById("student_info1")); // table id를 던지고 함수를 실행한다.
               var subject_id=$("#subject").val();
               jsonObj= JSON.stringify(jsonObj); // JSON 객체가 리턴된다!
               console.log(jsonObj)
               
       
               $.ajax({
                           url:'{% url 'save_subjecttostudent_data' %}',
                           type:'POST',
                           data:{student_dataes:jsonObj,subject_id :subject_id  },
                       })
                       .done(function(response){
                           
                           if(response=="OK")
                           {
                               alert("Attendance Saved!")
                           }
                           else
                           {
                               alert("Failed to Save Attendance!")
                           }
                           location.reload()
                           
                           //console.log(response)
                       })
       
                       .fail(function(){
                           alert("Error in Saving Students Attendance Data.")
                       })
         });
        });
         </script>
       
       
       {% endblock custom_js %}
    </div>  

    
    <br>
    <br>


